- var doors = ['Межкомнатные двери','Входные двери','Складские двери','Раздвижные двери','Арки и порталы','Для бани и сауны','Противопожарные','Фурнитура']
- var interiorDoors1 = ['Экошпон','Двери','Шпон натуральный','Двери из массива','Двери эмаль','Двери еврошпон','Двери ламинирован.','Двери ПВХ','Двери файн-лайн','Двери стеклянные','Двери 3D-Graf','Двери эмалит','Двери строителям']
- var entranceDoors2 = ['Металлические двери', 'Деревянные двери', 'Пластиковые двери']
- var warehouseDoors3 = ['Двери ПВХ', 'Ламинированные двери']
- var slidingDoors4 = ['Экошпон', 'Шпонированные', 'Ламинированные', 'ПВХ', 'Эмаль', 'Массив', 'Стеклянные', '3D-Graf', 'Еврошпон']
- var archesPortals5 = ['Экошпон', 'Шпонированные Двери', 'ПВХ Двери без отделки']
- var bathSauna6 = ['Двери из массива', 'Стеклянные двери', 'Двери из сосны', 'Двери из липы']
- var fireFighting7 = ['Двустворчатые', 'Одностворчатые двери']
- var Hardware8 = ['Ручки раздельные', 'Петли', 'Замки в комплект', 'Финская фурнитура', 'Замки и защелки', 'Ригели', 'Фурнитура для стеклянных дверей', 'Накладки и фиксаторы',	'Ручки -защелки', 'Фурнитура для дверей купе', 'Упоры и пороги', 'Доводчики Звонки', 'Электронные глазки', 'Прочее']
- var sortMat1 = [{ link: '#', name: 'Шпон Стандарт' },{ link: '#', name: 'Шпон Евро' },{ link: '#', name: 'Шпон Graffity' }]
- var sort = [{ link: '#', name:'Двери «Белые»', src:'../img/img/white.png', color: '#dcdcdc'},{ link: '#', name:'Двери «Светлые»', src:'../img/img/light.png', color: '#f6ead7'},{ link: '#', name:'Двери «Венге»', src:'../img/img/white.png', color: '#ae8c64'},{ link: '#', name:'Двери «Серые»', src:'../img/img/gray.png', color: '#7b7c7c'},{ link: '#', name:'Двери «Орех»', src:'../img/img/nut.png', color: '#dcdcdc'},{ link: '#', name:'Двери «Миланский орех»', src:'../img/img/milan-nut.png', color: '#f6ead7'},{ link: '#', name:'Двери «Итальянский орех»', src:'../img/img/italian-nut.png', color: '#ae8c64'},{ link: '#', name:'Двери «Темные»', src:'../img/img/dark.png', color: '#7b7c7c'},{ link: '#', name:'Двери «Коричневые»', src:'../img/img/brown.png', color: '#5f554e'}]
- var index = ['Двери по цене','Назначение','Модификация','Комплектация','Страна','Двери по цвету','Тип двери','Производитель','Размеры','Двери по стилю','Количество замков','Со скидкой','Распродажа','Новинки']
- var com = [sort, sort, sort, sort, sort, sort, sort, sort, sort, sort, sort, sort, sort, sort]
- var materials = [interiorDoors1, entranceDoors2, warehouseDoors3, slidingDoors4, archesPortals5, bathSauna6, fireFighting7, Hardware8]
- var view = [sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1, sortMat1]

aside.sidebar
  ul.doors
    each val, num in doors
      li
        button.doors-name-btn=val
          .point
        ul.door-mat-list
          each i, count in materials[num]
            li
              button.door-material-btn=i
                .point-in
              ul.veneer
                each k in view[count]
                  li.veneer-item
                    a(href=k.link).veneer-name=k.name

  h3.headling3 Двери по парамертам

  ul.doors-parameters
    each val, num in index
      li
        button.doors-name-btn=val
          .point

        ul.sort-color
          each e in com[num]
            li.color
              a(href=e.link).color-name
                div.circle(style={'background-color': e.color})
                p.color-title=e.name
